[Desktop Entry]
Version=1.0
Name=Stremio Wayland
Comment=Video organizer for your Movies, TV Shows and TV Channels
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=/app/opt/stremio/stremio --file-forwarding com.stremio.Stremio --ozone-platform-hint=auto --enable-features=Vulkan --ignore-gpu-blocklist --enable-gpu-rasterization --enable-zero-copy --unhandled-rejections=strict @@u %U @@ 
Icon=com.stremio.Stremio
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/stremio;video/avi;video/msvideo;video/x-msvideo;video/mp4;video/x-matroska;
X-Desktop-File-Install-Version=0.26
X-Flatpak=com.stremio.Stremio
