# MIT License
# 
# Copyright (c) 2022 Cuintle.
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
# 
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
# 
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

graphical
skipx

keyboard --vckeymap=br-thinkpad --xlayouts='br (thinkpad)'

lang en_US.UTF-8 --addsupport pt_BR.UTF-8

network  --hostname=fedora

timesource --ntp-disable
timezone America/Sao_Paulo --utc

url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch # Fedora main repo
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?repo=updates-testing-f$releasever&arch=$basearch # Fedora Testing repo
url --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-$releasever&arch=$basearch  # RPMFusion free
url --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-$releasever&arch=$basearch # RPMFusion nonfree
url --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-testing-$releasever&arch=$basearch # RPMFusion Free Testing 
url --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-testing-$releasever&arch=$basearch # RPMFusion NONFree Testing

repo --name=fedora --install
repo --name=updates --install
repo --name=updates-testing --install

repo --name="rpmfusion-free" --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-$releasever&arch=$basearch --includepkgs=rpmfusion-free-release --install #--cost=0
repo --name="rpmfusion-nonfree" --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-$releasever&arch=$basearch --includepkgs=rpmfusion-nonfree-release --install #--cost=0

repo --name="rpmfusion-free-updates" --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-released-$releasever&arch=$basearch --install
repo --name="rpmfusion-nonfree-updates" --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-released-$releasever&arch=$basearch --install

repo --name="rpmfusion-free-updates-testing" --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=free-fedora-updates-testing-$releasever&arch=$basearch --install
repo --name="rpmfusion-nonfree-updates-testing" --mirrorlist=https://mirrors.rpmfusion.org/metalink?repo=nonfree-fedora-updates-testing-$releasever&arch=$basearch --install

%pre --interpreter=/usr/bin/bash

USER_NAME=cuintle
CAPITAL_USER_NAME=Cuintle
USER_HOME=/home/${USER_NAME}
USER_PASS='$y$j9T$$5B3CeGVekwp00fQ7zu/nB65nbr4wqbxCo2KvV2y6h79' # This is not plaintext, its a yescrypt hashed password

cat > /tmp/partitioning_and_user.ks << PARTIONING

clearpart --all --disklabel gpt

bootloader --timeout 3 --append "preempt=full module.sig_enforce=1 rd.shell=0 rd.emergency=reboot ipv6.disable=1 loglevel=0 debugfs=off i915.fastboot=1 i915.enable_fbc=0 psi=1 plymouth.enable=0 intel_iommu=on iommu=pt iommu.strict=1"
#Extra security kernel params

# lockdown=integrity
# slab_nomerge
# init_on_alloc=1
# init_on_free=1
# page_alloc.shuffle=1
# vsyscall=none

part /boot/efi --fstype=efi --fsoptions="umask=0077,shortname=winnt" --label=EFI --size 200
part /boot --fstype=xfs --label=Boot --size 768

part btrfs.root_partition --fstype=btrfs --size 8192 --fsoptions="compress-force=zstd:3,relatime,ssd_spread,space_cache=v2" --encrypted --luks-version=luks2 --pbkdf argon2id --passphrase "put_pass_here"
part btrfs.home_partition --fstype=btrfs --grow --fsoptions="compress-force=zstd:1,relatime,ssd_spread,space_cache=v2" --encrypted --luks-version=luks2 --pbkdf argon2id --passphrase "put_pass_here"

btrfs none --label=fedora_root btrfs.root_partition
btrfs none --label=fedora_home btrfs.home_partition

btrfs / --subvol --name=root fedora_root
btrfs /var --subvol --name=var fedora_root 
btrfs /var/lib/libvirt/images --subvol --name=libvirt_images fedora_root # Disable CoW
btrfs /tmp --subvol --name=tmp fedora_root 

btrfs /home --subvol --name=home fedora_home

btrfs "${USER_HOME}"/Documents --subvol --name=documents fedora_home
btrfs "${USER_HOME}"/Downloads --subvol --name=downloads fedora_home
btrfs "${USER_HOME}"/Music --subvol --name=music fedora_home
btrfs "${USER_HOME}"/Videos --subvol --name=videos fedora_home
btrfs "${USER_HOME}"/Projects --subvol --name=projects fedora_home

btrfs "${USER_HOME}"/.local/share/flatpak --subvol --name=flatpaks_home fedora_home
btrfs "${USER_HOME}"/.var --subvol --name=flatpaks_var fedora_home

btrfs "${USER_HOME}"/.local/share/containers --subvol --name=containers_home fedora_home # Disable CoW
btrfs "${USER_HOME}"/.local/share/libvirt/images --subvol --name=libvirt_images_home fedora_home # Disable CoW

user --name=${USER_NAME} --groups=wheel --password="${USER_PASS}" --iscrypted --gecos="${CAPITAL_USER_NAME},UMASK=037" --shell /usr/bin/bash
PARTIONING
%end

%include /tmp/partitioning_and_user.ks

rootpw --lock

services --disabled="sshd,bluetooth,dnf-makecache.timer,geoclue.service" --enabled="iwd"

%packages --exclude-weakdeps --ignoremissing --excludedocs --inst-langs=en_US,pt_BR #--nocore

# Optional
# akmod-nvidia
# @multimedia
# @virtualization

# In case you need a browser
# epiphany

NetworkManager-wifi
android-tools
ansible
ansible-core
aria2
btrfs-progs
colord-gtk
container-selinux
containers-common
cracklib
cracklib-dicts
cryptsetup
dconf-editor
distrobox
dosfstools
efibootmgr
egl-wayland
expect
flatpak
fuse3
git

gdm
gnome-console
gnome-disk-utility
gnome-session-wayland-session
gnome-shell
gnome-system-monitor
gnome-text-editor
gnome-tweaks

grub2-efi-x64
grub2-tools
gstreamer1-vaapi
gvfs-mtp
gvfs-archive
gvfs-fuse
httpie
ibus-gtk4
ibus-wayland
intel-clear-sans-fonts
intel-gpu-firmware
intel-media-driver
iwd
jq

kernel
kernel-core
kernel-modules
linux-firmware

libaom
libportal-gtk3
libva-intel-driver

mesa-dri-drivers
mesa-vaapi-drivers
mesa-vulkan-drivers

micro
microcode_ctl
mimalloc
nautilus
ncdu
ncurses
pam_duo
pipewire-alsa
podman
power-profiles-daemon
python3-pip
pinentry
pinentry-tty
pinentry-gnome3
rpmconf

rpmfusion-free-release
rpmfusion-nonfree-release

rsync
shim-x64
simple-mtpfs
sqlite
sssd-client
stow
symlinks
systemd-oomd-defaults
tar
unrar
unzip
urw-base35-fonts-common
urw-base35-gothic-fonts
usbguard
wl-clipboard
xclip
xdg-desktop-portal-gnome
xdg-utils
zenity
zstd

zsh
zsh-autosuggestions
zsh-syntax-highlighting

-yum
-nano
-openssh-server
-plymouth
-plymouth-core-libs
-plymouth-scripts
-sssd-nfs-idmap
-sssd-common
-sssd-kcm
-systemd-networkd
-geolite2-city
-geolite2-country
-NetworkManager-bluetooth
-fedora-repos-modular
-fwupd
-initial-setup
-rpmfusion-free-appstream-data
-rpmfusion-nonfree-appstream-data
%end

#TODO: Split all this into functions and use parallel to async exec 
%post
USER_NAME=cuintle
USER_HOME=/home/${USER_NAME}
INIT_LOCATION=${USER_HOME}/.local/bin
CONFIGFILES_DIR=${USER_HOME}/.system_configuration
CONFIGCTL_EXECS=${CONFIGFILES_DIR}/execs/.local/bin
BASH_FILES=${USER_HOME}/.system_configuration/bash
ZSH_FILES=${USER_HOME}/.system_configuration/zsh
VARS_FILES=${USER_HOME}/.system_configuration/vars
PROJECT_URL="https://github.com/cuintle/configctl.git"
 
cat > /etc/dnf/dnf.conf << DNF_CONFIG
[main]
gpgcheck=yes
installonly_limit=3
clean_requirements_on_remove=yes
skip_if_unavailable=yes
fastestmirror=yes
install_weak_deps=no
max_parallel_downloads=6
DNF_CONFIG

cat > /etc/gdm/custom.conf << GDM_AUTOLOGIN
[daemon]
AutomaticLoginEnable=True
AutomaticLogin=${USER_NAME}
GDM_AUTOLOGIN

cat > /etc/NetworkManager/NetworkManager.conf << NM_CONFIG
[main]
iwd-config-path=auto

[connection]
match-device=type:wifi
connection.autoconnect-slaves=1
match-device=interface-name:wlan0
wifi.cloned-mac-address=random
ethernet.cloned-mac-address=random

[device]
match-device=interface-name:wlan0
managed=1
wifi.scan-rand-mac-address=yes
wifi.backend=iwd
wifi.iwd.autoconnect=true

[logging]
level=TRACE
domains=ALL
NM_CONFIG

cat > /etc/environment << ENV_VARS
LIBVA_DRIVER_NAME=iHD
EDITOR=micro
MALLOC_ARENA_MAX=2
LD_PRELOAD=/usr/lib64/libmimalloc.so.2 # This can generate really-hard-to-detect bugs, it is here cuz im planning to use mimalloc security features in th future
ENV_VARS

cat > /etc/systemd/resolved.conf << RESOLVED_CONFIG
[Resolve]
# Cloudflare: 1.1.1.1#cloudflare-dns.com 1.0.0.1#cloudflare-dns.com 2606:4700:4700::1111#cloudflare-dns.com 2606:4700:4700::1001#cloudflare-dns.com
# Google:     8.8.8.8#dns.google 8.8.4.4#dns.google 2001:4860:4860::8888#dns.google 2001:4860:4860::8844#dns.google
# Quad9:      9.9.9.9#dns.quad9.net 149.112.112.112#dns.quad9.net 2620:fe::fe#dns.quad9.net 2620:fe::9#dns.quad9.net
DNS=1.1.1.1
FallbackDNS=9.9.9.9
#Domains=
DNSSEC=yes
DNSOverTLS=yes
MulticastDNS=yes
LLMNR=no
#LLMNR=resolve
Cache=yes
#CacheFromLocalhost=no
#DNSStubListener=yes
#DNSStubListenerExtra=
#ReadEtcHosts=yes
#ResolveUnicastSingleLabel=no
RESOLVED_CONFIG
 
cat > /etc/sysctl.d/50-custom-configs.conf << SYSCTL_CONFIG

# TODO: Provide rationale for all sysctls
dev.i915.perf_stream_paranoid=0

kernel.kptr_restrict = 2

net.core.bpf_jit_harden=2
kernel.unprivileged_bpf_disabled=1

kernel.kexec_load_disabled = 1

# kernel.unprivileged_userns_clone=0

kernel.dmesg_restrict=1

kernel.printk = 3 3 3 3

vm.mmap_rnd_bits=32
vm.mmap_rnd_compat_bits=16

vm.swappiness = 180
vm.watermark_boost_factor = 0
vm.watermark_scale_factor = 125
vm.page-cluster = 0

# net.ipv4.ip_unprivileged_port_start=0

net.ipv4.tcp_fastopen = 3
net.ipv4.tcp_tw_reuse = 1

net.ipv4.tcp_slow_start_after_idle = 0
net.ipv4.tcp_mtu_probing = 1
net.core.default_qdisc = fq
# net.ipv4.tcp_congestion_control = cubic
net.ipv4.tcp_congestion_control = bbr2

net.ipv4.tcp_window_scaling = 1

net.ipv4.tcp_sack = 1
net.ipv4.tcp_timestamps = 0

# Workaround trying increase shitty Linux copy performance
vm.dirty_bytes=800000000
vm.dirty_background_bytes=400000000
SYSCTL_CONFIG

cat > /etc/modprobe.d/block-old-filesystem.conf << PREVENT_OLD_FILESYSTEMS

install dccp /bin/false
install sctp /bin/false
install rds /bin/false
install tipc /bin/false
install n-hdlc /bin/false
install ax25 /bin/false
install netrom /bin/false
install x25 /bin/false
install rose /bin/false
install decnet /bin/false
install econet /bin/false
install af_802154 /bin/false
install ipx /bin/false
install appletalk /bin/false
install psnap /bin/false
install p8023 /bin/false
install p8022 /bin/false
install can /bin/false
install atm /bin/false

install cramfs /bin/false
install freevxfs /bin/false
install jffs2 /bin/false
install hfs /bin/false
install hfsplus /bin/false
install squashfs /bin/false
install udf /bin/false

install cifs /bin/true
install nfs /bin/true
install nfsv3 /bin/true
install nfsv4 /bin/true
install ksmbd /bin/true
install gfs2 /bin/true
PREVENT_OLD_FILESYSTEMS

groupadd access_removable_medias
usermod -a -G access_removable_medias "$USER_NAME"

cat > /etc/polkit-1/rules.d/10-removable-mounts.rules << ACCESS_TO_REMOVABLE_MEDIA
polkit.addRule(function(action, subject) {
 if (action.id =="org.freedesktop.udisks2.eject-media"
  && subject.isInGroup("access_removable_medias")) {
   return polkit.Result.YES;
  }
});

polkit.addRule(function(action, subject) {
 if (action.id =="org.freedesktop.udisks2.filesystem-mount"
  && subject.isInGroup("access_removable_medias")) {
   return polkit.Result.YES;
  }
});
ACCESS_TO_REMOVABLE_MEDIA

cat > /etc/udev/rules.d/99-set-ioschedulers.rules << IO_SCHEDULER
ACTION=="add|change", KERNEL=="nvme*|sd*", ATTR{queue/scheduler}="kyber"
IO_SCHEDULER

cat > /etc/pam.d/passwd << STRONG_PASS_RULES
password required pam_pwquality.so minlen=12 difok=6 gecoscheck=1 dcredit=-1 ucredit=-1 lcredit=-3 [badwords=localhost password pass 123 123321 123123 1234 12345 1234567890 qwerty qwert] enforce_for_root
password required pam_unix.so use_authtok yescrypt shadow
STRONG_PASS_RULES

cat > /etc/pam.d/system-login << WRONG_PASS_DELAY
auth optional pam_faildelay.so delay=5000000
WRONG_PASS_DELAY

sed -i '/UMASK/s/022/037/' /etc/login.defs # Ensure umask
sed -i -e '/#YESCRYPT/s/#//' -e 's/5/11/' /etc/login.defs # Increase Yescrypt cost factor to 11 (may render slower logins)
sed -i 's/console=.*/quiet "/g' /etc/default/grub

sed -i '/libvirt_images/s/relatime,/&nodatacow,/g' /etc/fstab
sed -i '/libvirt_images_home/s/relatime,/&nodatacow,/g' /etc/fstab
sed -i '/containers_home/s/relatime,/&nodatacow,/g' /etc/fstab

sed -i '/flatpaks_var/s/zstd:1/zstd:5/' /etc/fstab

sed -i '/projects/s/zstd:1/zstd:5/' /etc/fstab

sed -i '/documents/s/zstd:1/zstd:5/' /etc/fstab
sed -i '/downloads/s/zstd:1/zstd:3/' /etc/fstab

sed -i '/music/s/compress-force=zstd:1,//' /etc/fstab
sed -i '/videos/s/compress-force=zstd:1,//' /etc/fstab

[[ ! -d ${USER_HOME}/.local/bin ]] && mkdir -p ${USER_HOME}/.local/bin/
[[ ! -d ${USER_HOME}/.config/autostart ]] && mkdir -p ${USER_HOME}/.config/autostart

cat > ${USER_HOME}/.local/bin/configctl-init << INIT_SCRIPT
#!/usr/bin/env bash

set -euo pipefail
IFS=$'\n\t'

[[ ! -d "${CONFIGFILES_DIR}" ]] && mkdir -p ${CONFIGFILES_DIR}

[[ ! $(ls -A "${CONFIGFILES_DIR}") ]] && exit 0

if command -v git > /dev/null; then git clone ${PROJECT_URL} ${CONFIGFILES_DIR}; else echo "git command not found."; fi

[[ -x ${CONFIGCTL_EXECS}/configctl ]] || chmod +x ${CONFIGCTL_EXECS}/configctl
[[ -x ${CONFIGCTL_EXECS}/configctl-check ]] || chmod +x ${CONFIGCTL_EXECS}/configctl-check
[[ -x ${CONFIGCTL_EXECS}/configctl-init ]] || chmod +x ${CONFIGCTL_EXECS}/configctl-init

if [[ -f ${BASH_FILES}/.bash_profile ]]; then
    # shellcheck disable=SC1091
    source ${BASH_FILES}/.bash_profile
fi
if [[ -f ${ZSH_FILES}/.zprofile ]]; then
    # shellcheck disable=SC1091
    source ${ZSH_FILES}/.zprofile
fi
if [[ -f ${VARS_FILES}/env.vars ]]; then
    # shellcheck disable=SC1091
    source ${VARS_FILES}/env.vars
fi

if [[ ! -f ${USER_HOME}/.zshrc ]]; then
    touch ${USER_HOME}/.zshrc
fi

if [[ -f ${CONFIGCTL_EXECS}/configctl-check ]]; then
    unbuffer ${CONFIGCTL_EXECS}/configctl-check
fi

if [[ -f ${CONFIGCTL_EXECS}/configctl ]]; then
    unbuffer ${CONFIGCTL_EXECS}/configctl --configure-system >> ${USER_HOME}/system_configuration_init.log 2>&1 &
fi

exit 0
INIT_SCRIPT

cat > ${USER_HOME}/.config/autostart/configure-system.desktop << CONFIGCTL_INIT_SERVICE
[Desktop Entry]
Name=System Configuration Autostart
Type=Application
Icon=preferences-system
Exec=${USER_HOME}/.local/bin/configctl-init
StartupNotify=false
Terminal=false
OnlyShowIn=GNOME;
NoDisplay=true
CONFIGCTL_INIT_SERVICE

systemctl set-default graphical.target
systemctl mask fstrim.timer

chmod +x ${USER_HOME}/.local/bin/configctl-init

# Remove machine-id
rm -f /etc/machine-id
touch /etc/machine-id

chown -R ${USER_NAME}:${USER_NAME} ${USER_HOME}/
restorecon -R ${USER_HOME}/
fixfiles -B onboot

sync; echo 3 > /proc/sys/vm/drop_caches
%end

reboot
